@import url('https://fonts.googleapis.com/css?family=Krub:400,500,600,700');

.container {
    text-align: center;
    margin: 0 auto;
    font-family: Krub, serif;
}

#countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.country {
    width: 300px;
    margin: 20px auto;
    background: rgb(226, 239, 255);
    border-radius: 5%;
    -webkit-box-shadow: 10px 10px 42px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 42px -13px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 42px -13px rgba(0,0,0,0.75);
    padding: 10px;
}

.header {
    box-sizing: border-box;
    height: 72px;
    width: 300px;
    padding: 10px;
    font-weight: 600;
    font-size: 24px;
}

.header .flag {
    height: 50px;
    width: 50%;
    display: inline-block;
    float: left;
    text-align: left;
}

.name {
    display: inline-block;
    height: 52px;
    width: 50%;
    float: left;
    text-align: left;
    padding-top: 5px;
}

img {
    height: 50px;
    border: 1px solid black;
}

.countryList {
    box-sizing: border-box;
    width: 300px;
    padding: 10px;
    border-top: 7px solid rgb(255, 255, 255);
}

tr {
    display: inline-block;
    width: 100%;
}

td {
    display: inline-block;
    padding: 5px 0;
    width: 50%;
    text-align: left;
} 

.detail {
    font-weight: 600;
}